<div class="container" ng-init="vm.list()">
  <div class="row">
      <div class="col-sm-12 pilotdata-header text-center">
        <h1 class="pilotdata-title">MeanStackJS Pilotdatas</h1>
        <p class="lead pilotdata-description">HB - testing the list view</p>
      </div>
  </div> 
  <div class="row">
    <div class="center-block pilotdata-main ">
      <div ng-show="vm.pilotdatas.length == 0">
        <h3>No Pilotdata Data Points</h3>
        <a class="btn btn-primary" href="/pilotdata/create">Create One Now</a>
      </div>
      
      <div class="pilotdata-post" ng-repeat="(key, value) in vm.pilotdatas | orderBy:'-date'">

        <a href="/pilotdata/view/{{value._id}}">Title: <h2 class="pilotdata-post-title">{{value.title}}</h2></a>
        
        <span ng-show="vm.UserFactory.loggedin">
          <a href="/pilotdata/edit/{{value._id}}"><i class="fa fa-pencil-square-o"></i></a>
          <a ng-click="vm.delete(value._id)"><i class="fa fa-trash"></i></a>
        </span>
        
        <p class="pilotdata-post-meta">
          on {{value.created |date:'medium'}}
        </p>
        
        <p>{{value.content}}</p>
      
      </div><!-- /.pilotdata-post -->

    </div><!-- /.pilotdata-main -->

  </div>
    
</div>
