<div class="container">
    <div class="center-block pilotdata-post">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <h1>Create Pilotdata</h1>
            </div>
        </div>
        <div class="row">
            <form name="pilotdataForm" class="pilotdata-edit form-horizontal" role="form" data-ng-submit="vm.create(pilotdataForm.$valid)" novalidate>
                <div class="form-group" ng-class="{'has-warning': pilotdataForm.title.$dirty && pilotdataForm.title.$invalid, 'has-success': pilotdataForm.title.$dirty && pilotdataForm.title.$valid}">
                    <label class="col-md-1 control-label">Crew Code</label>
                    <div class="col-md-9">
                        <input name="title" type="text" class="form-control" data-ng-model="vm.pilotdata.title" id="title" placeholder="Title" ng-minlength="2" required>
                        <p ng-show="pilotdataForm.title.$error.required && pilotdataForm.title.$dirty" class="help-block">Crew Code is required</p>
                        <p ng-show="pilotdataForm.title.$error.minlength" class="help-block">Crew Code must be at least 2 characters long</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-warning': pilotdataForm.content.$dirty && pilotdataForm.content.$invalid, 'has-success': pilotdataForm.content.$dirty && pilotdataForm.content.$valid}">
                    <label for="content" class="col-md-1 control-label">e-mail</label>
                    <div class="col-md-9">
                        <textarea name="content" data-ng-model="vm.pilotdata.content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" ng-minlength="2" required></textarea>
                        <p ng-show="pilotdataForm.content.$error.required && pilotdataForm.content.$dirty" class="help-block">e-mail is required</p>
                        <p ng-show="pilotdataForm.content.$error.minlength" class="help-block">e-mail must be at least 2 characters long</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-9">
                        <button type="submit" class="btn btn-primary" ng-disabled="pilotdataForm.$invalid">Submit</button>
                        <a href="/pilotdata/list" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div><!-- /.row -->
    </div>
</div>
